.box {
  background-color: teal;
  padding: 20px;
  text-align: center;
  margin: auto;
  color: #333;
}
.box > img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: block;
  margin: auto;
  margin-bottom: 50px;
  transition: 0.5s;
}
.box > img:hover {
  transform: scale(1.2);
}
.box > a {
  color: #fff;
  background-color: gray;
  padding: 8px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 600;
  transition: ease-in-out 0.5s;
}
.box:hover a {
  color: cyan;
}
.reg_form {
  padding: 30px;
  border: 1px solid #333;
  width: 300px;
  margin: auto;
  margin-top: 50px;
  border-radius: 5px;
  display: flex;
}
input {
  margin: 6px;
  padding: 5px;
  border: 1px solid #333;
  border-radius: 3px;
}
